.main-card {
    box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
}

.option-1 {
    background: #e14eca;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    text-align: center;
    border-radius: 5px;
    margin: 15px 15px 0 15px;
}

.option-2 {
    font-size: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 15px 15px 0 15px;
    border-radius: 5px;
    background: #27293d;
    box-shadow: inset 20px 20px 39px #1f2131,
                inset -20px -20px 39px #2f3149;
}

.option-2b {
    font-size: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 15px 15px 0 15px;
    border-radius: 5px;
    background: #27293d;
    box-shadow:  20px 20px 39px #1f2131,
                -20px -20px 39px #2f3149;
}

.option-3 {
    font-size: 2rem;
    text-align: center;
    color: #27293d;
    margin: 15px 15px 0 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
}