.sidebar-color, body, body[data-background-color=dark], h1, h2, h3, h4, h5, h6, p, li, a {font-family: 'Karla', sans-serif !important;}

input[type='text'] {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 2px 0;
    font-weight: inherit;
    width: 100%;
}

textarea {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 2px 0;
    font-weight: inherit;
    width: 100%;
    height: auto;
}
