input[type='text'] {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 2px 0;
    font-weight: inherit;
    width: 100%;
}

textarea {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 2px 0;
    font-weight: inherit;
    width: 100%;
    height: auto;
}

#colors {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}