<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MELODY API response</title>
    {% if datastory_data.style %}
    <link rel="stylesheet" href="{{ datastory_data.style }}" type="text/css">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/api_default.css') }}" type="text/css">
    {% endif %}
    {% if datastory_data.script %}
    <script src="{{ datastory_data.script }}" type="text/javascript"></script>
    {% else %}
    <script src="{{ url_for('static', filename='vendors/chart.js/chart.umd.js') }}"></script>
    <script src="{{ url_for('static', filename='js/api_default.js') }}"></script>
    {% endif %}
</head>

<body>
    {% if datastory_data %}
    <div id='melody_api_response'>
        {% for block_number, block_info in datastory_data.dynamic_elements.items()|sort %}
        {% if block_info.type == 'data_viz' %}
        {% if block_info.title %}
        <h4 class="melody-data-viz-title" style='display: none;'>{{ block_info.title }}</h4>
        {% endif %}
        <div class="melody-data-viz" data-block="{{ block_number }}" data-config='{{ block_info|tojson }}'>
            <canvas id="{{ block_number }}"></canvas>
        </div>
        {% else %}
        {{ block_info.content|safe }}
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</body>

</html>