{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="homepage content">
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">

			</div>
		</div>
	</div>
	<div class="page-inner">
		<b class="ball2"></b>
		<div class="actions row mt--2">
			<div class="action col-md-3">
				<h6>TRY NOW!</h6>
				<p>If you do not have a GitHub account,
					you can create stories and export them immediately,
					but you cannot save them!</p>
				<a href="/melody/setup" role="button">START NOW</a>
			</div>
			<div class="action col-md-3">
				<h6>Or sign in</h6>
				<p>If you have a GitHub account,
					you can sign in and start!</p>
				<a href="/melody/gitauth" role="button">SIGN IN</a>
			</div>
			<div class="action col-md-3 whitebg">
				<h6>Publish with us</h6>
				<p>We publish your stories.
					If you have a GitHub account,
					your stories are published on our catalogue <a target="_blank"
						href="https://melody-data.github.io/stories/">MELODY stories</a>. It's free!
				</p>
				<!-- <a href="/melody/gitauth" role="button">SIGN IN</a><br> -->
			</div>
			<div class="action col-md-3">
				<h6>Export your story</h6>
				<p>You can always export your data story as a web document or a PDF. Alternatively, you can embed or
					download
					single charts.</p>
			</div>

		</div>
		<div class="row mt--2 signin">
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
