{% extends "base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="/melody/static/css/templates.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
  integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/react@18/umd/react.{{ react_version }}" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.{{ react_version }}" crossorigin></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="https://unpkg.com/@jitbit/htmlsanitizer@latest/HtmlSanitizer.js"></script>
  <script type="text/javascript">
    var datastory_data = {{ datastory_data | tojson }};
  </script>
{% endblock stylesheets %}

{% block content %}
{% set count = datastory_data.dynamic_elements|length %}
<div class="content row datastorypage" id="dwn">
  {% include 'datastory_secondarymenu.html' %}
  <div class="panel-header bg-primary-gradient col-md-9 col-sm-12 datastorypagefields">
    <div class="page-inner py-5">
      <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div>
          {% include 'datastory_heading.html' %}
          <span id='loader' class='lds-dual-ring hidden overlay'></span>
          <div id="sortable">

          </div>
          <script src="/melody/static/js/react/Count.js" type="text/babel"></script>
          <script src="/melody/static/js/react/Table.js" type="text/babel"></script>
          <script src="/melody/static/js/react/Chart.js" type="text/babel"></script>
          <script src="/melody/static/js/react/Textbox.js" type="text/babel"></script>
          <script src="/melody/static/js/react/add_components.js" type="text/babel"></script>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'alert_save.html'%}
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
  $('footer').detach();
</script>
{% if datastory_data.user_name %}
<script>
  let hostname = window.location.hostname;
  if (!hostname.includes('github')) {
    let beforeUnloadAlert = true;
    window.addEventListener('beforeunload', function (e) {
      if (!beforeUnloadAlert) return;

      // etc
      e.preventDefault();
      e.returnValue = '';
    });

    function myFunction() {
      beforeUnloadAlert = false;
    }
    var myObj = document.getElementsByClassName('prevent_alert')
    console.log(myObj);
    for (el of myObj) {
      el.addEventListener('click', myFunction);
    }
  }
</script>
{% endif %}
{% endblock javascripts %}
