{% extends "base.html" %}

{% block title %} {{ datastory_data.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}"> -->
{% endblock stylesheets %}

{% block content %}

<div class="content row datastorypage" id="dwn">
  <section id="secondarymenu" class="secondarymenu col-md-3 col-sm-12">
    <section id="secondarymenuinner" class="secondarymenuinner">
      {% for dict in datastory_data.dynamic_elements %}
      <!-- textsearch -->
      {% if dict.type == 'textsearch' %}
        <div id="{{dict.position}}">
            {% if dict.textsearch_title %}
              <h4 class="nopaddingleft">{{dict.textsearch_title}}</h4>
            {% else %}
              <h4 class="nopaddingleft">Search</h4>
            {% endif %}

          <input class="inputinvisible" id="{{dict.position}}__textsearch_query" style="display:none !important;" value="{{dict.textsearch_query}}"></input>
          <input class="textsearch_input" id="{{dict.position}}__textsearch_userinput" type="text" name="{{dict.position}}__textsearch_userinput" value="">
          <a id="{{dict.position}}__textsearch_button"
            class="textsearch_button datastory"
            onclick="perform_textsearch('{{dict.position}}__textsearch_userinput')"
            name="{{dict.position}}__textsearch">Search</a>
        </div>
      {% endif %}

      {% endfor %}
      <hr>
      <h4>About this story</h4>
      {% if datastory_data.curator %}
      <p>Authors: {{ datastory_data.curator }} </p>
      {%endif%}
      <p>Part of: {{ datastory_data.section_name }}</p>
      <p>Source: <a href="{{datastory_data.sparql_endpoint}}">SPARQL endpoint</a></p>
      <p>Export</p>
      <button class="exportbutton" onclick="getPDF('dwn')" type="button" name="button">PDF</button>
      <button class="exportbutton" type="button"><a onclick="getHTML(this)" href="#"
          download="{{datastory_data.title}}.html">HTML</a></button>
    </section>
    {% if session['user_type'] == 'extra' %}
    {% if flash_message == True %}
    <form action="datastory" method="post">
      <button type="submit" method="post" class="btn btn-success">Publish</button>
    </form>
    {% endif %}
    {% endif %}
  </section>
    <div class="panel-header bg-primary-gradient col-md-9 col-sm-12 datastorypagefields">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="text-white pb-2 fw-bold">{{ datastory_data.title }}</h1>
                    {% if datastory_data.subtitle %}
                    <h2 class="text-white op-7 mb-2">
                        {{ datastory_data.subtitle }}
                    </h2>
                    {%endif%}
                    {% if datastory_data.description %}
                    <p class="card-category">
                        {{ datastory_data.description }}
                    </p>
                    {%endif%}
                    <span id='loader' class='lds-dual-ring hidden overlay'></span>
                    <!-- textsearch results -->
                    {% for dict in datastory_data.dynamic_elements %}
                      {% if dict.type == 'textsearch' %}
                        <table id='{{dict.position}}__textsearchid'>
                          <!-- TODO add rows-->
                        </table>
                      {% endif %}
                      {% if dict.type == 'tablevalueaction' %}
                      <input class='tablevalueaction_title'
                        id='{{dict.position}}__tablevalueaction_title'
                        type='hidden'
                        name='{{dict.position}}__tablevalueaction_title'
                        value='{{dict.tablevalueaction_title}}'
                        placeholder='A title, e.g. Show similar tunes'>
                      <input class='tablevalueaction_column'
                        id='{{dict.position}}__tablevalueaction_column'
                        type='hidden'
                        name='{{dict.position}}__tablevalueaction_column'
                        value='{{dict.tablevalueaction_column}}'
                        placeholder='The name of the column'>
                      <input class='tablevalueaction_table'
                        id='{{dict.position}}__tablevalueaction_table'
                        type='hidden'
                        name='{{dict.position}}__tablevalueaction_table'
                        value='{{dict.tablevalueaction_table}}'>
                      <textarea class='inputinvisible'
                        name='{{dict.position}}__tablevalueaction_query'
                        type='hidden'
                        id='{{dict.position}}__tablevalueaction_query'
                        rows='6' required>{{dict.tablevalueaction_query}}</textarea>

                      {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->


{% block javascripts %}
<script type="text/javascript">
    var datastory_data = {{ datastory_data | tojson }};
    $('footer').detach();
</script>

{% endblock javascripts %}
