{% extends "base.html" %}

{% block title %} {{ datastory_data.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">

						{{ datastory_data.title }}

					</h2>
					<h5 class="text-white op-7 mb-2">
						{% if datastory_data.subtitle %}
						{{ datastory_data.subtitle }}
						{%endif%}

					</h5>
				</div>
				<div class="ml-md-auto py-2 py-md-0">
					<h4 class="text-white pb-2 fw-bold">
						{% if datastory_data.curator %}
						{{ datastory_data.curator }}
						{%endif%}
					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="page-inner mt--5">
		<div class="row row-card-no-pd">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row card-tools-still-right">
							<h4 class="card-title">About the Project</h4>
						</div>
						<p class="card-category">
							{% if datastory_data.description %}
							{{ datastory_data.description }}
							{%endif%}
						</p>
					</div>
					<div class="card-body">

						{% for dict in datastory_data.dynamic_elements %}
						<!-- text -->
						{% if dict.type == 'text' %}
						<div class="typography-line" id="{{dict.position}}">
							<p>{{dict.text}}</p>
						</div>

						<!-- count -->
						{% elif dict.type == 'count' %}
						<div id="{{dict.position}}"></div>

						<!-- chart -->
						{% elif dict.type == 'chart' %}
						<div id="{{dict.position}}"></div>
						{% endif %}

						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->



<!-- Import D3 Scale Chromatic via CDN -->
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

{% block javascripts %}
<script type="text/javascript"> var datastory_data = {{ datastory_data | tojson }};</script>
<!-- Atlantis DEMO methods, don't include it in your project! -->
<!-- <script src="/static/js/setting-demo.js"></script>
<script src="/static/js/demo.js"></script> -->

{% endblock javascripts %}