{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">Welcome</h2>
					<h5 class="text-white op-7 mb-2">Where you can go from here</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="page-inner mt--5">
		<div class="row mt--2">
			<div class="col-md-12">
				<div class="card full-height">
					<div class="card-body">
						<div class="d-flex flex-wrap pb-2 pt-4">
							<ul>
								<li>Visit a statistics template example for musow: <a
										href="http://127.0.0.1:5000/pilot/musow"
										target="_blank">http://127.0.0.1:5000/pilot/musow</a>.<br>
									It potentially works the same for every pilot:
									http://127.0.0.1:5000/pilot/&lt;string:page_name&gt;.
								</li>
								<li>The setup page allows you to choose a type of template and create a new pilot: <a
										href="http://127.0.0.1:5000/setup"
										target="_blank">http://127.0.0.1:5000/setup</a>. Once you submit, you are
									redirected to the chosen template to fill it in.</li>
							</ul>
							<!-- <div class="px-2 pb-2 pb-md-0 text-center">
								<div id="circles-1"></div>
								<h6 class="fw-bold mt-3 mb-0">New Users</h6>
							</div>
							<div class="px-2 pb-2 pb-md-0 text-center">
								<div id="circles-2"></div>
								<h6 class="fw-bold mt-3 mb-0">Sales</h6>
							</div>
							<div class="px-2 pb-2 pb-md-0 text-center">
								<div id="circles-3"></div>
								<h6 class="fw-bold mt-3 mb-0">Subscribers</h6>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}