{% extends "base.html" %}

{% block title %} Welcome {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="homepage content">
	<b class="ball"></b><b class="ball2"></b>
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="home">
					<h1 class="text-white fw-bold">Create <br> beautiful data stories <br> with MELODY</h1>
					<h5 class="text-white op-7 mb-2 col-md-6">MELODY (Make mE a Linked Open Data storY) allows you to query Linked Open Data and create web-ready interactive data stories.</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="page-inner">
		<b class="ball2"></b>
		<div class="actions row mt--2">

					<div class="action col-md-2">
						<h6>get ready</h6>
						<p>Read the <a href="https://polifonia-project.github.io/dashboard/" target="_blank">docs</a>, learn how to create stories.</p>
					</div>
					<div class="action col-md-3">
						<h6>get started</h6>
						<p>Choose the data to explore, pick a template, and create a new <a href="setup">data story</a></p>
					</div>
					<div class="action col-md-4 whitebg">
						<h6>get inspired</h6>
						<p>Have a look at some example data stories we created for you. All published stories appear in the left sidebar.</p>
					</div>
					<div class="action col-md-3">
						<h6>for geeks</h6>
						<p>Get the source code from the <a
								href="https://github.com/polifonia-project/dashboard"
								target="_blank">GitHub repository</a></p>
					</div>

		</div>
		<div class="row mt--2 signin">
			<p class="col-md-6 col-sm-12">To save and publish data stories with MELODY, you will need a GitHub account.
				If you already have a GitHub account, add a comment to this <a target="_blank" href="https://github.com/polifonia-project/dashboard/issues/19">issue</a> on the MELODY data stories repository.
				 	We will answer ASAP, and you will become a collaborator. You'll be able to <b>Save</b> and publish your stories.</p>
		 			<h2 class="col-md-4 col-sm-12">Sign in <br>to save your data stories</h2>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
	var general_data = {{ general_data | tojson }};
	var datastory_data = {};
</script>


{% endblock javascripts %}
