<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-dashboard-black">

  <title>
    Polifonia Dashboard - {% block title %}{% endblock %}
  </title>

  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!--  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" rel="stylesheet" />-->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/static/demo/demo.css" rel="stylesheet" />

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="menu-on-right">
  <div class="wrapper">

    {% include 'sidebar.html' %}

    <div class="main-panel">

      {% include 'navigation.html' %}

      <div class="content">

        {% block content %}{% endblock content %}

      </div>

      {% include 'footer.html' %}

    </div>

  </div>



  {% include 'scripts.html' %}

  {% include 'scripts-sidebar.html' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript"> var data = {{ details | tojson }};</script>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}
  {% endblock javascripts %}

</body>

</html>