{% extends "base.html" %}
{% block title %} Modify {{ datastory_data.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}"> -->
<link rel="stylesheet" href="/melody/static/css/templates.css">
{% endblock stylesheets %}

{% block content %}
<div class="content row modifystory">
    <section class="secondarymenu col-md-3 col-sm-12">
        <section class="secondarymenuinner" id="secondarymenuinner">
            <h3>Data source</h3>
            <p><a href="{{datastory_data.sparql_endpoint}}">SPARQL endpoint</a></p>

        </section>
    </section>
    <!-- MD <form action="send_data" method="post" class="card col-md-9 col-sm-12""> -->
    <form action="" method="post" class="card col-md-9 col-sm-12"">
      <!-- title, subtitle and description -->
        <div class=" panel-header bg-primary-gradient">
        <div class="page-inner">
            <!-- color picker -->
            <div id="colors">
                <p>Pick the colors of your story</p>
                {% for color in datastory_data.color_code|reverse %}
                <input type="color" id="{{loop.index}}_color" name="{{loop.index}}_color" value="{{color}}">
                {% endfor %}
            </div>

            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">
                        <textarea oninput='auto_grow(this)' name="title" type="text" id=""
                            cols="{{ datastory_data.title|length }}" rows="1" placeholder="The title of your story"
                            required>{{ datastory_data.title }}</textarea>
                    </h1>
                    <h5 class="mb-2 fw-bold">
                        {% if datastory_data.subtitle %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id=""
                            cols="{{ datastory_data.subtitle|length }}" rows="1"
                            placeholder="Subtitle">{{ datastory_data.subtitle }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id="" rows="1"
                            placeholder="Subtitle"></textarea>
                        {%endif%}
                    </h5>
                    <h5 class="text-white op-7 pb-2">
                        {% if datastory_data.curator %}
                        <textarea oninput='auto_grow(this)' name="curator" type="text" id=""
                            cols="{{ datastory_data.curator|length }}" rows="1"
                            placeholder="Authors">{{ datastory_data.curator }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="curator" type="text" id="" rows="1"
                            placeholder="Authors"></textarea>
                        {%endif%}
                    </h5>

                </div>
                <div class="ml-md-auto py-2 py-md-0">

                </div>
            </div>
        </div>
</div>
<!-- interactive elements -->
<div class="page-inner mt--5">
    <div class="row row-card-no-pd">
        <div class="col-md-12 nopaddingleft">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <!-- <h4 class="card-title">About the Project</h4> -->
                    </div>
                    <p class="card-category">
                        {% if datastory_data.description %}
                        <textarea oninput='auto_grow(this)' name="description" type="text" id=""
                            placeholder="A brief introdution to the project.">{{ datastory_data.description }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="description" type="text" id=""
                            placeholder="A brief introdution to the project."></textarea>
                        {%endif%}
                    </p>
                </div>
                <div class="card-body nopaddingleft" id="sortable">
                    <span id='loader' class='lds-dual-ring hidden overlay'></span>
                    {% for dict in datastory_data.dynamic_elements %}

                    <!-- TEXT SEARCH -->
                    {% if dict.type == 'textsearch' %}
                    <!-- buttons -->
                    <div id="{{dict.position}}__block_field">
                        <h4 class="block_title">Add text search</h4>

                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <input class='textsearch_title' id='{{dict.position}}__textsearch_title' type='text'
                            name='{{dict.position}}__textsearch_title' value='{{dict.textsearch_title}}'
                            placeholder='A title, e.g. Search tunes'>
                        <!-- input -->
                        <textarea class='addplaceholder_textsearch' oninput='auto_grow(this)'
                            name='{{dict.position}}__textsearch_query' type='text'
                            id='{{dict.position}}__textsearch_query' rows='6'
                            required>{{dict.textsearch_query}}</textarea>
                        <!-- preview -->
                        <div class='table-container textsearch_result'>
                            <div class="previewtextsearch col-4">
                                <input class="textsearch_userinput modifydatastory"
                                    id="{{dict.position}}__textsearch_userinput" type="text"
                                    name="{{dict.position}}__textsearch_userinput" value="">
                                <a id="{{dict.position}}__textsearch_button" class="textsearch_button"
                                    onclick="perform_textsearch('{{dict.position}}__textsearch_userinput')"
                                    name="{{dict.position}}__textsearch">Search</a>
                            </div>

                            <table class="col-12" id='{{dict.position}}__textsearchid'>
                                <!-- add rows here -->
                            </table>
                            <h4 id="{{dict.position}}__addtablevalueactiontitle" class="text-white">Do you want to add
                                an action to your results?</h4>
                            <p>Row values can be subject of new queries and return tables or charts. For each action a
                                button will appear in the table.</p>
                            <a class="btn btn-primary btn-border"
                                onclick="add_field(name,'{{dict.position}}__textsearch_query')"
                                name="tablevalueaction">Add
                                action to results</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if dict.type == 'tablevalueaction' %}
                    <div id="{{dict.position}}__block_field">
                        <h4 class="block_title">Add action</h4>

                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <input class='tablevalueaction_title' id='{{dict.position}}__tablevalueaction_title' type='text'
                            name='{{dict.position}}__tablevalueaction_title' value='{{dict.tablevalueaction_title}}'
                            placeholder='A title, e.g. Show similar tunes'>
                        <input class='tablevalueaction_column' id='{{dict.position}}__tablevalueaction_column'
                            type='text' name='{{dict.position}}__tablevalueaction_column'
                            value='{{dict.tablevalueaction_column}}' placeholder='The name of the column'>
                        <input class='tablevalueaction_table' id='{{dict.position}}__tablevalueaction_table'
                            type='hidden' name='{{dict.position}}__tablevalueaction_table'
                            value='{{dict.tablevalueaction_table}}'>
                        <textarea class='addplaceholder_tablevalueaction' oninput='auto_grow(this)'
                            name='{{dict.position}}__tablevalueaction_query' type='text'
                            id='{{dict.position}}__tablevalueaction_query' rows='6'
                            required>{{dict.tablevalueaction_query}}</textarea>
                        <p><em>Type your query and perform a new search above to see the result</em></p>
                        <h4 id="{{dict.position}}__addtablevalueactiontitle" class="text-white">Do you want to add an
                            action to your results?</h4>
                        <p>Row values can be subject of new queries and return tables or charts.
                            For each action a button will appear in the table.
                            You can also combine results of this action with results of a prior action or search.</p>
                        <a class="btn btn-primary btn-border"
                            onclick="add_field(name,'{{dict.position}}__textsearch_query')" name="tablevalueaction">Add
                            action to results</a>
                        <a class="btn btn-primary btn-border"
                            onclick="add_field(name,'{{dict.position}}__textsearch_query')" name="tablecomboaction">
                            Combine results</a>
                    </div>
                    {% endif %}

                    {% if dict.type == 'tablecomboaction' %}
                    <div id="{{dict.position}}__block_field">
                        <h4 class="block_title">Combine results</h4>

                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <input class='tablevalueaction_title' id='{{dict.position}}__tablevalueaction_title' type='text'
                            name='{{dict.position}}__tablevalueaction_title'
                            placeholder='A title, e.g. Show tunes in common' value="{{dict.tablevalueaction_title}}">
                        <input class='tablevalueaction_table' id='{{dict.position}}__tablevalueaction_table'
                            type='hidden' name='{{dict.position}}__tablevalueaction_table'
                            value='{{dict.tablevalueaction_table}}'>
                        <input class='tablevalueaction_column' id='{{dict.position}}__tablevalueaction_column'
                            type='text' name='{{dict.position}}__tablevalueaction_column'
                            placeholder='The name of the column to combine' value="{{dict.tablevalueaction_column}}">
                        <input class='tablevalueaction_column' id='{{dict.position}}__tablevalueaction_table_2'
                            type='text' name='{{dict.position}}__tablevalueaction_table_2'
                            placeholder='The name of other table to combine' value="{{dict.tablevalueaction_table_2}}">
                        <input class='tablevalueaction_column' id='{{dict.position}}__tablevalueaction_column_2'
                            type='text' name='{{dict.position}}__tablevalueaction_column_2'
                            placeholder='The name of the column to combine' value="{{dict.tablevalueaction_column_2}}">
                        <textarea class='addplaceholder_tablecomboaction' oninput='auto_grow(this)'
                            name='{{dict.position}}__tablevalueaction_query' type='text'
                            id='{{dict.position}}__tablevalueaction_query' rows='6'
                            required>{{dict.tablecomboaction_query}}</textarea>
                        <p><em>Type your query and perform a new search above to see the result</em></p>
                        <h4 id='{{dict.position}}__addtablevalueactiontitle' class='text-white'>Do you want to add an
                            action to your results?</h4>
                        <p>Row values can be subject of new queries and return tables or charts.
                            For each action a button will appear in the table. You can also combine results of this
                            action with results of a prior action or search.</p>
                        <a class='btn btn-primary btn-border'
                            onclick='add_field(name,"{{dict.position}}__textsearch_query")' name='tablevalueaction'>Add
                            action to results</a>
                        <a class='btn btn-primary btn-border'
                            onclick='add_field(name,"{{dict.position}}__textsearch_query")' name='tablecomboaction'>
                            Combine results</a>
                    </div>
                    {% endif %}

                    {% endfor %}

                </div>
                <!-- ADD buttons -->
                <section class="addfieldssection col-md-12 col-lg-12 col-sm-12">
                    <a class="btn btn-primary btn-border" onclick="add_field(name)" name="textsearch">Add
                        Text search</a>
                </section>
            </div>
        </div>
    </div>
</div>

<!-- save buttons -->
<div class="card-action" style="margin:auto;">
    <button type="submit" name="action" value="save" class="btn btn-success prevent_alert">Save</button>
    <button type="reset" class="btn btn-danger">Reset content</button>
    <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
</div>
</form>
</div>
{% if session['user_type'] == 'random' %}
<div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-info" role="alert"
    data-notify-position="bottom-right"
    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; bottom: 20px; right: 20px;"
    data-closing="true"><button type="button" aria-hidden="true" class="close" data-dismiss="alert"
        style="position: absolute; right: 10px; top: 5px; z-index: 1033;">×</button><span data-notify="icon"
        class="flaticon-alarm-1"></span> <span data-notify="title">Remember</span>
    <span data-notify="message">If you don't login, you can only download material, not
        publish.</span><a href="#" target="_blank" data-notify="url"></a>
</div>
{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var datastory_data = {{ datastory_data | tojson }};</script>
<script type="text/javascript"> var general_data = {{ general_data | tojson }};</script>
<script type="text/javascript">

</script>
{% if datastory_data.user_name %}
<script>
    let beforeUnloadAlert = true;
    window.addEventListener('beforeunload', function (e) {
        if (!beforeUnloadAlert) return;

        // etc
        e.preventDefault();
        e.returnValue = '';
    });

    function myFunction() {
        beforeUnloadAlert = false;
    }
    var myObj = document.getElementsByClassName('prevent_alert')
    console.log(myObj);
    for (el of myObj) {
        el.addEventListener('click', myFunction);
    }
</script>
{% endif %}

{% endblock javascripts %}