{% extends "base.html" %}
{% block title %} Modify {{ datastory_data.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}"> -->
<link rel="stylesheet" href="/melody/static/css/templates.css') }}">
{% endblock stylesheets %}

{% block content %}
<div class="content row modifystory">
    <section class="secondarymenu col-md-3 col-sm-12">
        <section class="secondarymenuinner" id="secondarymenuinner">
            <h3>Data source</h3>
            <p><a href="{{datastory_data.sparql_endpoint}}">SPARQL endpoint</a></p>
            <h5 class="text-white op-7 pb-2">
                {% if datastory_data.curator %}
                <textarea oninput='auto_grow(this)' name="curator" type="text" id=""
                    cols="{{ datastory_data.curator|length }}" rows="1"
                    placeholder="Authors">{{ datastory_data.curator }}</textarea>
                {% else %}
                <textarea oninput='auto_grow(this)' name="curator" type="text" id="" rows="1"
                    placeholder="Authors"></textarea>
                {%endif%}
            </h5>
        </section>
    </section>
    <form action="" method="post" class="card col-md-9 col-sm-12"">
        <div class=" panel-header bg-primary-gradient">
        <div class="page-inner">
            <!-- color picker -->
            <div id="colors">
                <p>Pick the colors of your story</p>
                {% for color in datastory_data.color_code|reverse %}
                <input type="color" id="{{loop.index}}_color" name="{{loop.index}}_color" value="{{color}}">
                {% endfor %}
            </div>

            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="text-white pb-2 fw-bold">
                        <textarea oninput='auto_grow(this)' name="title" type="text" id=""
                            cols="{{ datastory_data.title|length }}" rows="1" placeholder="The title of your story"
                            required>{{ datastory_data.title }}</textarea>
                    </h1>
                    <h5 class="text-white mb-2 fw-bold">
                        {% if datastory_data.subtitle %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id=""
                            cols="{{ datastory_data.subtitle|length }}" rows="1"
                            placeholder="Subtitle">{{ datastory_data.subtitle }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id="" rows="1"
                            placeholder="Subtitle"></textarea>
                        {%endif%}
                    </h5>

                </div>
                <div class="ml-md-auto py-2 py-md-0">

                </div>
            </div>
        </div>
</div>
<div class="card-action" style="margin:auto;">
    <button type="submit" name="action" value="save" class="btn btn-success">Save</button>
    <button type="reset" class="btn btn-danger">Reset content</button>
    <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
</div>
</form>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var datastory_data = {{ datastory_data | tojson }};</script>
<script type="text/javascript"> var general_data = {{ general_data | tojson }};</script>
<script type="text/javascript">

</script>

{% endblock javascripts %}
