{% extends "base.html" %}
{% block title %} Modify {{ datastory_data.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
{% endblock stylesheets %}

{% block content %}
<div class="content row modifystory">
    <section class="secondarymenu col-md-3 col-sm-12">
        <section class="secondarymenuinner" id="secondarymenuinner">
            <h3>Data source</h3>
            <p><a href="{{datastory_data.sparql_endpoint}}" target="_blank">SPARQL endpoint</a></p>
            <h5 class="text-white op-7 pb-2">
                {% if datastory_data.curator %}
                <textarea oninput='auto_grow(this)' name="curator" type="text" id="" rows="1"
                    placeholder="Authors">{{ datastory_data.curator }}</textarea>
                <!-- cols="{{ datastory_data.curator|length }}"  -->
                {% else %}
                <textarea class="col-10" oninput='auto_grow(this)' name="curator" type="text" id="" rows="1"
                    placeholder="Authors"></textarea>
                {%endif%}
            </h5>
        </section>
    </section>
    <form action="" method="post" class="card col-md-9 col-sm-12"">
        <div class=" panel-header bg-primary-gradient">
        <div class="page-inner">
            <!-- color picker -->
            <div id="colors">
                <p>Pick the colors of your story</p>
                {% for color in datastory_data.color_code|reverse %}
                <input type="color" id="{{loop.index}}_color" name="{{loop.index}}_color" value="{{color}}">
                {% endfor %}
            </div>

            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h1 class="pb-2 fw-bold">
                        <textarea oninput='auto_grow(this)' name="title" type="text" id=""
                            cols="{{ datastory_data.title|length }}" rows="1" placeholder="The title of your story"
                            required>{{ datastory_data.title }}</textarea>
                    </h1>
                    <h5 class="mb-2 fw-bold">
                        {% if datastory_data.subtitle %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id=""
                            cols="{{ datastory_data.subtitle|length }}" rows="1"
                            placeholder="Subtitle">{{ datastory_data.subtitle }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="subtitle" type="text" id="" rows="1"
                            placeholder="Subtitle"></textarea>
                        {%endif%}
                    </h5>

                </div>
                <div class="ml-md-auto py-2 py-md-0">

                </div>
            </div>
        </div>
</div>
<div class="page-inner mt--5">
    <div class="row row-card-no-pd">
        <div class="col-md-12 nopaddingleft">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                        <!-- <h4 class="card-title">About the Project</h4> -->
                    </div>
                    <p class="card-category">
                        {% if datastory_data.description %}
                        <textarea oninput='auto_grow(this)' name="description" type="text" id=""
                            placeholder="A brief introdution to the project.">{{ datastory_data.description }}</textarea>
                        {% else %}
                        <textarea oninput='auto_grow(this)' name="description" type="text" id=""
                            placeholder="A brief introdution to the project."></textarea>
                        {%endif%}
                    </p>
                </div>
                <div class="card-body" id="sortable">
                    <!-- Button trigger modal -->


                    <!-- Modal for query and chart preview -->
                    <div class="modal fade" id="chartsModalLong" tabindex="-1" role="dialog"
                        aria-labelledby="chartsModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content card">
                                <div class="modal-header">
                                    <h4 id="chartsModalLongTitle" class="card-title">Choose the right chart for your
                                        query</h3>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <p>Overall, a SPARQL query to build a chart can be of two types:</p>
                                            <ul>
                                                <li class="pb-2"><strong>Aggregating</strong>: the query retrieves
                                                    aggregated data that are automatically post-processed to be
                                                    displayed in a chart.
                                                    The query returns two or more variables. Check how to neme them for
                                                    each chart type.</li>
                                                <li><strong>Non-aggregating</strong>: the query retrieves non-aggregated
                                                    data, which are not immediately suitable for charting, hence data
                                                    need some post-processing operations, provided by the interface. For
                                                    every chart, the query returns one variable called
                                                    <code>?label</code>.
                                                </li>
                                            </ul>
                                            <p>Check the description of the charts to see which one fits the data you
                                                want to show.</p>
                                        </div>
                                    </div>
                                    <!-- Bar chart -->
                                    <div class="container">
                                        <div class="row">
                                            <h4>Bar Chart</h4>
                                        </div>
                                        <div class="row pt-3">
                                            <div class="col-sm-4 col-lg-3 text-center">
                                                <img class="preview-png" src="/static/img/bar-chart.png" />
                                            </div>
                                            <div class="col-sm-8 col-lg-9 pt-4 pt-sm-0">
                                                <p>A bar chart is a graph with rectangular bars that's useful for
                                                    looking
                                                    at a set of data and making comparisons.<br />
                                                    The horizontal (x) axis represents the categories.<br />
                                                    The vertical (y) axis represents a value for those categories.
                                                    The values can be percentages or numbers.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row pt-3">
                                            <p>
                                                To build it, you can:
                                            </p>
                                            <ul>
                                                <li class="pb-2">write a <strong>non-aggregating</strong> query that
                                                    returns a
                                                    variable called <code>?label</code> (time periods) and flag
                                                    the "<strong>Count</strong>" operation.
                                                    <code class="query-eg">SELECT ?label 
                                                        WHERE { 
                                                            ?entry ?p &lt;https://w3id.org/musow/vocab/repository&gt; . 
                                                            ?entry &lt;https://schema.org/audience&gt; ?audience . ?audience rdfs:label ?label . 
                                                        }</code>
                                                </li>
                                                <li>write an <strong>aggregating</strong> query that returns two
                                                    variables:
                                                    <ol>
                                                        <li class="pb-2"><code>?label</code> (categorical/numerical
                                                            values that
                                                            represents categories in the x axis)</li>
                                                        <li class="pb-2"><code>?count</code> (corresponding numerical
                                                            values in
                                                            the y axis).</li>
                                                    </ol>
                                                    <code
                                                        class="query-eg">SELECT ?label (COUNT(?content) AS ?count) WHERE { {?content ?p musow:repository . musow:repository rdfs:label ?label .} UNION {?content ?p musow:catalogue . musow:catalogue rdfs:label ?label .} UNION {?content ?p musow:dataset . musow:dataset rdfs:label ?label .} } GROUP BY ?label</code>
                                                </li>
                                            </ul>
                                        </div>
                                        <hr />
                                    </div>
                                    <!-- Line chart -->
                                    <div class="container">
                                        <div class="row">
                                            <h4>Line Chart</h4>
                                        </div>
                                        <div class="row pt-3">
                                            <div class="col-sm-4 col-lg-3 text-center">
                                                <img class="preview-png" src="/static/img/line-chart.png" />
                                            </div>
                                            <div class="col-sm-8 col-lg-9 pt-4 pt-sm-0">
                                                <p>Line charts are usually employed to track changes in data over
                                                    periods of time.A line chart is created plotting a series of several
                                                    points
                                                    connected with a continuous line.<br />
                                                    The horizontal (x) axis represents the time period.<br />
                                                    The vertical (y) axis represents the item that is being measured in
                                                    that specifi
                                                    period.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row pt-3">
                                            <p>
                                                To build it, you can:
                                            </p>
                                            <ul>
                                                <li class="pb-2">write a <strong>non-aggregating</strong> query that
                                                    returns a
                                                    variable called <code>?label</code> (time periods) and flag
                                                    the "<strong>Count</strong>" operation.<br />
                                                    <code
                                                        class="query-eg">SELECT ?label WHERE { { SELECT ?time (DAY(?time) AS ?label) WHERE { ?entry &lt;http://www.w3.org/ns/prov#generatedAtTime&gt; ?time . } } }</code>
                                                </li>
                                                <li>write an <strong>aggregating</strong> query that returns two
                                                    variables:
                                                    <ol>
                                                        <li class="pb-2"><code>?label</code> (categorical/numerical
                                                            values that
                                                            represents periods of time in the x axis)</li>
                                                        <li class="pb-2"><code>?count</code> (corresponding numerical
                                                            value for
                                                            the item in the y axis).</li>
                                                    </ol>
                                                    <code
                                                        class="query-eg">SELECT ?label (COUNT(?label) AS ?count) WHERE { { SELECT ?time (DAY(?time) AS ?x) WHERE { ?entry &lt;http://www.w3.org/ns/prov#generatedAtTime&gt; ?time . } } } GROUP BY ?x ORDER BY ?x</code>
                                                </li>
                                            </ul>
                                            <p>* The ?label can be numbers or letters to represent day, months, years,
                                                or other periods of time.</p>
                                        </div>
                                        <hr />
                                    </div>
                                    <!-- Doughnut chart -->
                                    <div class="container">
                                        <div class="row">
                                            <h4>Doughnut Chart</h4>
                                        </div>
                                        <div class="row pt-3">
                                            <div class="col-sm-4 col-lg-3 text-center">
                                                <img class="preview-png" src="/static/img/doughnut-chart.png" />
                                            </div>
                                            <div class="col-sm-8 col-lg-9 pt-4 pt-sm-0">
                                                <p>Doughnut charts are used to express a "part-to-whole" relationship,
                                                    where all pieces together represent 100%.<br />
                                                    A doughnut chart works best to display data with a small number of
                                                    categories (2-5).
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row pt-3">
                                            <p>
                                                To build it, you can:
                                            </p>
                                            <ul>
                                                <li class="pb-2">write a <strong>non-aggregating</strong> query that
                                                    returns a
                                                    variable called <code>?label</code> (the categories) and flag
                                                    the "<strong>Count</strong>" operation.<br />
                                                    <code
                                                        class="query-eg">SELECT ?label WHERE { ?entry ?p &lt;https://w3id.org/musow/vocab/repository&gt; . ?entry &lt;https://schema.org/audience&gt; ?audience . ?audience rdfs:label ?label . }</code>
                                                </li>
                                                <li class="pb-2">write an <strong>aggregating</strong> query that
                                                    returns two
                                                    variables:
                                                    <ol>
                                                        <li class="pb-2"><code>?label</code> (categorical/numerical
                                                            values that
                                                            represents categories)</li>
                                                        <li class="pb-2"><code>?count</code> (corresponding numerical
                                                            values for
                                                            each segment).</li>
                                                    </ol>
                                                    <code
                                                        class="query-eg">SELECT ?label (COUNT(?label) AS ?count) WHERE { ?entry ?p &lt;https://w3id.org/musow/vocab/repository&gt; . ?entry &lt;https://schema.org/audience&gt; ?audience . ?audience rdfs:label ?label . } GROUP BY ?label ORDER BY ?label</code>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for dict in datastory_data.dynamic_elements %}
                    <!-- TEXT -->
                    {% if dict.type == 'text' %}
                    <!-- buttons -->
                    <div id="{{dict.position}}__block_field">
                        <a href="#" class="up" id="{{dict.position}}__up" name="{{dict.position}}__up">
                            <i class="fas fa-arrow-up" id="{{dict.position}}__arrow-up"></i>
                        </a>
                        <a href="#" class="down" id="{{dict.position}}__down" name="{{dict.position}}__down">
                            <i class="fas fa-arrow-down" id="{{dict.position}}__arrow-down"></i>
                        </a>
                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <!-- preview -->
                        <textarea oninput='auto_grow(this)' type="text" name="{{dict.position}}__{{dict.type}}"
                            id="{{dict.position}}__{{dict.type}}" placeholder="{{dict.text}}">{{dict.text}}</textarea>
                    </div>

                    <!-- COUNT -->
                    {% elif dict.type == 'count' %}
                    <div id="{{dict.position}}__block_field">
                        <!-- buttons -->
                        <a href="#" class="up" id="{{dict.position}}__up" name="{{dict.position}}__up">
                            <i class="fas fa-arrow-up" id="{{dict.position}}__arrow-up"></i>
                        </a>
                        <a href="#" class="down" id="{{dict.position}}__down" name="{{dict.position}}__down">
                            <i class="fas fa-arrow-down" id="{{dict.position}}__arrow-down"></i>
                        </a>
                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <!-- preview -->
                        <div class='card-body justify-content-center option-2b count_result col-md-4'
                            id="{{dict.position}}__count">
                            <p class="counter_num" id='{{dict.position}}__num'></p>
                            <p class="counter_label" id='{{dict.position}}__lab'></p>
                        </div>

                        <!-- input -->
                        <textarea oninput='auto_grow(this)' name='{{dict.position}}__count_query' type='text'
                            id='{{dict.position}}__count_query' value="{{dict.count_query}}"
                            placeholder="Write the SPARQL query for the count." required>{{dict.count_query}}</textarea>
                        <input name='{{dict.position}}__count_label' type='text' id='{{dict.position}}__count_label'
                            value="{{dict.count_label}}" required>
                    </div>

                    <!-- CHART -->
                    {% elif dict.type == 'chart' %}
                    <div class="col-12" id="{{dict.position}}__block_field">
                        <!-- buttons -->
                        <a href="#" class="up" id="{{dict.position}}__up" name="{{dict.position}}__up">
                            <i class="fas fa-arrow-up" id="{{dict.position}}__arrow-up"></i>
                        </a>
                        <a href="#" class="down" id="{{dict.position}}__down" name="{{dict.position}}__down">
                            <i class="fas fa-arrow-down" id="{{dict.position}}__arrow-down"></i>
                        </a>
                        <a href="#" class="trash" id="{{dict.position}}__trash" name="{{dict.position}}__trash">
                            <i class="far fa-trash-alt" id="{{dict.position}}__bin"></i>
                        </a>
                        <br>
                        <!-- preview -->
                        <div class="chart-container">
                            <canvas id="{{dict.position}}__chartid"></canvas>
                        </div>

                        <!-- input -->
                        <div class="form-group" id="{{dict.position}}_undefined">
                            <label>Chart Type</label>
                            <select class="form-control" name="{{dict.position}}__chart_type"
                                id="{{dict.position}}__chart_type">
                                {% for chart in general_data.chart_types %}
                                {% if chart == dict.chart_type %}
                                <option name="{{dict.position}}__{{chart}}" id="{{dict.position}}__{{chart}}" selected>
                                    {{chart}}
                                </option>
                                {% else %}
                                <option name="{{dict.position}}__{{chart}}" id="{{dict.position}}__{{chart}}">
                                    {{chart}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <label>SPARQL query</label>
                            <textarea oninput='auto_grow(this)' name='{{dict.position}}__chart_query' type='text'
                                id='{{dict.position}}__chart_query' placeholder="{{dict.chart_query}}"
                                required>{{dict.chart_query}}</textarea>
                            <label>Chart Title</label>
                            <input name='{{dict.position}}__chart_title' type='text' id='{{dict.position}}__chart_title'
                                value="{{dict.chart_title}}" required>
                            <label>Operations</label><br>


                            <!-- no operation present -->
                            {% if dict.operations|length == 0 %}
                            {% for op in general_data.operations %}
                            <input type='checkbox' id='{{op|lower}}' name='{{dict.position}}__action1'
                                value='{{op|lower}}'>
                            <label for='{{op|lower}}'>{{op}}</label><br>
                            {% endfor %}

                            {% else %}

                            {% for op in general_data.operations %}
                            {% for dict_op in dict.operations %}
                            {% if dict_op.action|capitalize == op %}
                            <input type='checkbox' id='{{dict_op.action}}' name='{{dict.position}}__action1'
                                value='{{dict_op.action}}' checked>
                            <label for='{{dict_op.action}}'>{{dict_op.action|capitalize}}</label><br>
                            {% else %}
                            <input type='checkbox' id='{{op|lower}}' name='{{dict.position}}__action1'
                                value='{{op|lower}}'>
                            <label for='{{op|lower}}'>{{op}}</label><br>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                            {% endif %}

                        </div>
                    </div>

                    {% endif %}

                    {% endfor %}

                </div>
                <section class="addfieldssection col-md-12 col-lg-12 col-sm-12">
                    <a class="btn btn-primary btn-border" onclick="add_field(name)" name="textbox">Add
                        Textbox</a>
                    <a class="btn btn-primary btn-border" onclick="add_field(name)" name="countbox">Add
                        Count</a>
                    <a class="btn btn-primary btn-border" onclick="add_field(name)" name="barchart_box">Add
                        Chart</a>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="card-action" style="margin:auto;">
    <button type="submit" name="action" value="save" class="btn btn-success prevent_alert">Save</button>
    <button type="reset" class="btn btn-danger">Reset content</button>
    <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
</div>
</form>
</div>
{% if session['user_type'] == 'random' %}
<div data-notify="container" class="col-10 col-xs-11 col-sm-4 alert alert-info" role="alert"
    data-notify-position="bottom-right"
    style="display: inline-block; margin: 0px auto; padding-left: 65px; position: fixed; transition: all 0.5s ease-in-out 0s; z-index: 1031; bottom: 20px; right: 20px;"
    data-closing="true"><button type="button" aria-hidden="true" class="close" data-dismiss="alert"
        style="position: absolute; right: 10px; top: 5px; z-index: 1033;">×</button><span data-notify="icon"
        class="flaticon-alarm-1"></span> <span data-notify="title">Remember</span>
    <span data-notify="message">If you don't login, you can only download material, not
        publish.</span><a href="#" target="_blank" data-notify="url"></a>
</div>
{% endif %}
<script>

</script>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var datastory_data = {{ datastory_data | tojson }};</script>
<script type="text/javascript"> var general_data = {{ general_data | tojson }};</script>
{% if datastory_data.user_name %}
<script>
    let beforeUnloadAlert = true;
    window.addEventListener('beforeunload', function (e) {
        if (!beforeUnloadAlert) return;

        // etc
        e.preventDefault();
        e.returnValue = '';
    });

    function myFunction() {
        beforeUnloadAlert = false;
    }
    var myObj = document.getElementsByClassName('prevent_alert')
    console.log(myObj);
    for (el of myObj) {
        el.addEventListener('click', myFunction);
    }
</script>
{% endif %}

{% endblock javascripts %}