<div class="main-header">

	<!-- Logo Header -->
	<div class="logo-header" data-background-color="dark2">

		<a href="{{ url_for('home') }}" class="logo">MELODY</a>
		<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
			data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<i class="icon-menu"></i>
			</span>
		</button>
		<div class="nav-toggle">
			<button class="btn btn-toggle toggle-sidebar">
				<i class="icon-menu"></i>
			</button>
		</div>
	</div>
	<!-- End Logo Header -->

	<!-- Navbar Header -->
	<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">

		<div class="container-fluid">
			<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="https://polifonia-project.github.io/dashboard/"
						role="button" aria-expanded="false" aria-controls="search-nav">
						Documentation
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('setup') }}" role="button" aria-expanded="false"
						aria-controls="search-nav">
						Create a story
					</a>
				</li>
				{% if session['name'] %}
				<li class="nav-item"><a class="nav-link" href="{{ url_for('signout') }}" role="button"
						aria-expanded="false" aria-controls="search-nav">
						Sign out
					</a></li>
				{% endif %}
				<li class="nav-item">
					{% if session['name'] %}
					<div class="avatar-sm">
						<img class="avatar-img rounded-circle" src="https://github.com/{{session['name']}}.png"
							alt="{{session['name']}}">
					</div>
					{% else %}
					<a class="nav-link" href="{{ url_for('gitauth') }}" role="button" aria-expanded="false"
						aria-controls="search-nav">
						Sign in
					</a>
					{% endif %}
				</li>

			</ul>
		</div>


	</nav>

	<!-- End Navbar -->
</div>