{% extends "base.html" %}

{% block title %} {{ details.title }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="panel-header bg-primary-gradient">
		<div class="page-inner py-5">
			<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div>
					<h2 class="text-white pb-2 fw-bold">

						{{ details.title }}

					</h2>
					<h5 class="text-white op-7 mb-2">

						{{ details.subtitle }}

					</h5>
				</div>
				<div class="ml-md-auto py-2 py-md-0">
					<h4 class="text-white pb-2 fw-bold">

						{{ details.curator }}

					</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="page-inner mt--5">
		<div class="row row-card-no-pd">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-head-row card-tools-still-right">
							<h4 class="card-title">About the Project</h4>
						</div>
						<p class="card-category">

							{{ details.description }}

						</p>
					</div>
					<div class="card-body">
						<div class="row">
							<!--            COUNTINGS-->
							<div class="row" id="count_container">
								<!--               where countings show-->
							</div>
							<!--DATA STORY-->
							<div class="card-body">
								<div class="typography-line">
									<h3 class="card-title">A Random Subtitle</h3>
									{% for key, value in details.text.items()|sort(attribute='0') %}
									<p>{{value}}</p>
									{% endfor %}
								</div>
							</div>
							<!--GRAPHS-->
							<div id="vizContainer">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->



<!-- Import D3 Scale Chromatic via CDN -->
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

{% block javascripts %}
<script type="text/javascript"> var data = {{ details | tojson }};</script>
<!-- Atlantis DEMO methods, don't include it in your project! -->
<!-- <script src="/static/js/setting-demo.js"></script>
<script src="/static/js/demo.js"></script> -->

{% endblock javascripts %}