<!--   Core JS Files   -->
<script src="/melody/static/js/core/jquery.3.2.1.min.js"></script>
<script src="/melody/static/js/core/popper.min.js"></script>
<script src="/melody/static/js/core/bootstrap.min.js"></script>

<!-- jQuery UI -->
<script src="/melody/static/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="/melody/static/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="/melody/static/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="/melody/static/js/plugin/chart.js/chart.min.js"></script>

<!-- Import D3 Scale Chromatic via CDN -->
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

<!-- jQuery Sparkline -->
<script src="/melody/static/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="/melody/static/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="/melody/static/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="/melody/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="/melody/static/js/plugin/jqvmap/jquery.vmap.min.js"></script>
<script src="/melody/static/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

<!-- Sweet Alert -->
<script src="/melody/static/js/plugin/sweetalert/sweetalert.min.js "></script>

<!-- Atlantis JS -->
<script src="/melody/static/js/atlantis.min.js"></script>

<!-- Leaflet -->
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
<script type="text/javascript" src="/melody/static/js/leaflet.markercluster-src.js"></script>
<script type="text/javascript" src="/melody/static/js/leaflet-sidebar.js"></script>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>