{% extends "base.html" %}

{% block title %} Setup {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h2 class="page-title">Set up your data story</h2>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form action="setup" method="post" class="setupcard">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-label">Choose the template</label>
									<div class="row">
										<div class="col-sm-6 col-md-3">
											<select name="template_mode" class="custom-select form-control"
												id="exampleFormControlSelect1" required>
												{% for item in template_data %}
												<option value="{{item.name}}" disabled>{{item.name|capitalize}}</option>
												{% endfor %}
											</select>
										</div>
										{# note: commented for future addition
										<div class="col-12 col-md-8">
											<div class="row">
												<p class="col-md-12">See a preview of our templates</p>
												{% for item in template_data %}
												<div class="col-sm-6 col-md-3">
													<figure class="templatepreview">
														<a data-target="#{{item.name}}Modal" role="button"
															data-toggle="modal">
															<img src="{{item.img_path}}" alt="{{item.name}}"
																class="imagecheck-image">
														</a>
														<figcaption>{{item.name|capitalize}}</figcaption>
													</figure>
												</div>

												<!-- start modals for templates -->
												<div class="modal fade templatepreviewcard" id="{{item.name}}Modal"
													data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
													aria-labelledby="staticBackdropLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="{{item.name}}Label">
																	{{item.name|capitalize}} Template</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal"
																	aria-label="Close">x</button>
															</div>
															<div class="modal-body">
																<div class="card card-profile">
																	<!-- <div class="card-header"
																		style="background-image: url('{{item.img_path}}')">
																	</div> -->
																	<div class="card-body">
																		<img src="{{item.img_path}}"
																			style="max-width: 30%; height: auto;">
																	</div>
																	<div class="card-footer">
																		<div class="row user-stats">
																			<div class="col-3">
																				<div class="title">Default Colors</div>
																				<div class="number">
																					<span class="colorpreview"
																						style="background-color: {{item.default_color[0]}}"></span>
																					<span class="colorpreview"
																						style="background-color: {{item.default_color[1]}}"></span>

																				</div>
																			</div>
																			<div class="col">
																				<div class="title">Description</div>
																				<div class="number">
																					{{item.main_feature}}</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
										#}
									</div>
								</div>

								<!-- the pilot as section -->
								{% if general_data %}
								<!-- if no resaure is present -->
								{% if general_data.data_sources|length == 0 %}
								<div class="form-group">
									<label for="section_name" class="form-label">Create a section</label><br />
									<input name="section_name" placeholder="Your Section"
										class="form-control input-border-bottom col-6" required>
								</div>
								<!-- if there are pilots -->
								{% else %}
								<div class="form-group">
									<label class="form-label" for="section_name">Choose or create a
										Section</label><br />
									<input id="sectionselect" list="section_name" autocomplete="off" name="section_name"
										placeholder="The Section" class="form-control input-border-bottom col-6"
										required>
									<datalist id="section_name">
										{% for section in general_data.sections|sort() %}
										<option value="{{section}}"></option>
										{% endfor %}
										<option value="Type your Section..."></option>
									</datalist>
								</div>
								{% endif %}
								{% endif %}


								<div class="form-group form-floating-label">
									<label class="form-label" for="title">Enter The title of your data story</label>
									<input name="title" type="text"
										class="form-control form-control input-border-bottom col-6" id="title"
										placeholder="The Data Story" required>
								</div>
								<div class="form-group">
									<label class="form-label" for="sparql_endpoint">Enter The URL of the SPARQL
										Endpoint</label>
									<input name="sparql_endpoint" type="text"
										class="form-control form-control input-border-bottom col-6" id="sparql_endpoint"
										placeholder="https://query.example.org/" required>
								</div>

							</div>
						</div>
					</div>
					<div class="card-action">
						<button type="submit" method="post" class="btn btn-success">Submit</button>
						<button type="reset" class="btn btn-danger">Reset content</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var template_data = {{ template_data | tojson }};</script>

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/js/setting-demo2.js"></script>
<!-- <script>
	$("#section_name").find("[value='Type your Section...']").prop("disabled", true);
</script> -->

{% endblock javascripts %}