{% extends "base.html" %}

{% block title %} Setup {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content">
	<div class="page-inner">
		<div class="page-header">
			<h4 class="page-title">Set up the information for you template</h4>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form action="setup" method="post" class="card">
					<div class="card-body">
						<div class="row">
							<div class="col">
								<div class="form-group">
									<label class="form-label">Choose the template</label>
									<div class="row">
										<div class="col-sm-6 col-md-3">
											<select name="template_mode" class="form-control"
												id="exampleFormControlSelect1" required>
												{% for item in template_data %}
												<option>{{item.name}}</option>
												{% endfor %}
											</select>
										</div>
										<div class="col-12 col-md-8">
											<div class="row">
												{% for item in template_data %}
												<div class="col-sm-6 col-md-3">
													<figure>
														<a data-target="#{{item.name}}Modal" role="button"
															data-toggle="modal">
															<img src="{{item.img_path}}" alt="{{item.name}}"
																class="imagecheck-image">
														</a>
														<figcaption>{{item.name}}</figcaption>
													</figure>
												</div>

												<!-- start modals for templates -->
												<div class="modal fade" id="{{item.name}}Modal"
													data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
													aria-labelledby="staticBackdropLabel" aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="{{item.name}}Label">
																	{{item.name}} Template</h5>
																<button type="button" class="btn-close"
																	data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body">
																<div class="card card-profile">
																	<!-- <div class="card-header"
																		style="background-image: url('{{item.img_path}}')">
																	</div> -->
																	<div class="card-body">
																		<img src="{{item.img_path}}"
																			style="max-width: 100%; max-height: 100%;">
																	</div>
																	<div class="card-footer">
																		<div class="row user-stats text-center">
																			<div class="col">
																				<div class="title">Default Colors</div>
																				<div class="number">
																					{{item.default_color[0]}}<br>{{item.default_color[1]}}
																				</div>
																			</div>
																			<div class="col">
																				<div class="title">Main Features</div>
																				<div class="number">...</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- end -->

												<!-- <div>{{item.name}}</div> -->
												{% endfor %}
											</div>
										</div>
									</div>
								</div>

								<!-- the pilot as macroarea -->
								{% if general_data %}
								<!-- if no resaure is present -->
								{% if general_data.data_sources|length == 0 %}
								<div class="form-group">
									<label for="pilot_name">Create your Macroarea</label><br />
									<input name="pilot_name" placeholder="Your Macroarea"
										class="form-control input-border-bottom col-6" required>
								</div>
								<!-- if there are pilots -->
								{% else %}
								<div class="form-group">
									<label for="pilot_name">Choose or create your Macroarea</label><br />
									<input list="pilot_name" name="pilot_name" placeholder="The Macroarea"
										class="form-control input-border-bottom col-6" required>
									<datalist id="pilot_name">
										{% for pilot in general_data.macroareas|sort() %}
										<option value="{{pilot}}"></option>
										{% endfor %}
								</div>
								{% endif %}
								{% endif %}


								<div class="form-group form-floating-label">
									<label for="title">The title of your Data Story</label>
									<input name="title" type="text" class="form-control form-control col-6" id="title"
										placeholder="The Data Story" required>
								</div>
								<div class="form-group">
									<label for="sparql_endpoint">SPARQL Endpoint</label>
									<input name="sparql_endpoint" type="text" class="form-control form-control col-6"
										id="sparql_endpoint" placeholder="https://query.example.org/" required>
								</div>

							</div>
						</div>
					</div>
					<div class="card-action">
						<button type="submit" class="btn btn-success">Submit</button>
						<button type="reset" class="btn btn-danger">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var template_data = {{ template_data | tojson }};</script>

<!-- Atlantis DEMO methods, don't include it in your project! -->
<script src="/static/js/setting-demo2.js"></script>

{% endblock javascripts %}