<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a target="_blank" rel="sponsored noopener noreferrer"
               href="https://appseed.us/admin-dashboards/flask-dashboard-black" class="simple-text logo-normal">
                LOGO PILOT
            </a>
        </div>


        <ul class="nav">
            <li>
                <a href="/">
                    <i class="tim-icons icon-atom"></i>
                    <p>DATA</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="tim-icons icon-pin"></i>
                    <p>SPARQL ENDPOINT</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>REST API</p>
                </a>
            </li>
            <li>
                <a href="/">
                    <i class="tim-icons icon-single-02"></i>
                    <p>GITHUB</p>
                </a>
            </li>

        </ul>

    </div>
</div>
