<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">

			<ul class="nav nav-primary">
				{% if general_data %}
				{% for key, value in general_data.data_sources.items() %}
				<li class="nav-item">
					<div class="row">
						<div class="col">
							<a href="http://127.0.0.1:5000/pilot/{{key}}" target="_blank">
								<p>{{value.title}}</p>
							</a>
						</div>

						<div class="col">
							<a href="http://127.0.0.1:5000/modify/{{key}}" target="_blank"
								class="btn btn-primary btn-border btn-round btn-xs">
								<p>modify</p>
							</a>
						</div>

					</div>
				</li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->