{% extends "base.html" %}
{% block title %} Setup your page {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/personal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <form action="send_data" method="post" class="card">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">
                            <input name="title" type="text" id="" value="{{ pilot_data.title }}">
                        </h2>
                        <h5 class="text-white op-7 mb-2">
                            <input name="subtitle" type="text" id="" placeholder="The Subtitle">
                        </h5>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <h4 class="text-white pb-2 fw-bold">
                            <input name="curator" type="text" id="" placeholder="The Curator">
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row row-card-no-pd">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row card-tools-still-right">
                                <h4 class="card-title">About the Project</h4>
                            </div>
                            <p class="card-category">
                                <input name="description" type="text" id="description"
                                    placeholder="Write a brief introdution to the project.">
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="typography-line" id="sortable">
                                    </div>
                                </div>

                            </div>
                            <!-- buttons to add boxes -->
                            <section class="col-md-12 col-lg-12 col-sm-12">
                                <a class="btn btn-primary btn-border" onclick="add_field(name)" name="textbox">Add
                                    Textbox</a>
                                <a class="btn btn-primary btn-border" onclick="add_field(name)" name="countbox">Add
                                    Count</a>
                                <a class="btn btn-primary btn-border" onclick="add_field(name)" name="barchart_box">Add
                                    Chart</a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-action" style="margin:auto;">
            <button type="submit" class="btn btn-success">Submit</button>
            <button type="reset" class="btn btn-danger">Cancel</button>

        </div>
    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var pilot_data = {{ pilot_data | tojson }};</script>


{% endblock javascripts %}