{% extends "base.html" %}
{% block title %} Setup your page {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}">
{% endblock stylesheets %}

{% block content %}

<div class="content">
    <form action="send_data" method="post" class="card">
        <div class="panel-header bg-primary-gradient">
            <div class="page-inner py-5">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                    <div>
                        <h2 class="text-white pb-2 fw-bold">
                            <input name="title" type="text" id="" value="{{ details.title }}">
                        </h2>
                        <h5 class="text-white op-7 mb-2">
                            <input name="subtitle" type="text" id="" placeholder="The Subtitle">
                        </h5>
                    </div>
                    <div class="ml-md-auto py-2 py-md-0">
                        <h4 class="text-white pb-2 fw-bold">
                            <input name="curator" type="text" id="" placeholder="The Curator">
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-inner mt--5">
            <div class="row row-card-no-pd">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-head-row card-tools-still-right">
                                <h4 class="card-title">About the Project</h4>
                            </div>
                            <p class="card-category">
                                <!-- <span class="input" role="textbox" contenteditable name="description">
                                    Type here
                                </span> -->
                                <input name="description" type="text" id=""
                                    placeholder="Write a brief introdution to the project.">
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <section class="col-md-12 col-lg-12 col-sm-12">
                                    <a class="btn btn-primary btn-border" onclick="add_field()" name="add_textbox">Add
                                        Textbox</a>
                                </section>
                                <!--            COUNTINGS-->
                                <!-- <div class="row" id="count_container"> -->
                                <!--               where countings show-->
                                <!-- </div> -->
                                <!--DATA STORY-->
                                <div class="card-body">
                                    <div class="typography-line">
                                        <span id="add_after_me"></span>
                                        <h3 class="card-title">
                                            <input name="para_title" type="text" id=""
                                                placeholder="The Title of This Paragraph">
                                        </h3>
                                        <p><a href="#" class="trash"><i class="far fa-trash-alt"></i></a><input
                                                name="text" type="text" id=""
                                                placeholder="Write the text for this paragraph."></p>
                                    </div>
                                </div>
                                <!--GRAPHS-->
                                <div id="vizContainer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript"> var data = {{ details | tojson }};</script>

{% endblock javascripts %}