:root {
  --main-color: #3DED97;
  --dark-main: #279861;
  --darker-grey: #1F2525;
  --dark-grey: #272E2E;
  --light-grey: #3D4849;
  --extra-light-grey: #838A8A;
  --font-family-sans-serif: 'Karla', sans-serif;
}

body {
  font-family: 'Karla', sans-serif;
}

header {background-color: #fff; z-index: 9;}

li ul li {padding-left: 2em;}

.background_doodle {
  width: 100%;
  height: 40vw;
  overflow: hidden;
  margin-right: -15px !important;
  margin-left: -15px;
}

.background_doodle css-doodle {
  transition: transform .2s ease;
  will-change: transform;
}

@keyframes scale-down {
  from { transform: scale(1.02); }
  to { transform: scale(1); }
}

.quote {
  position: absolute;
  color: #fff;
  top: 25vw;
  transform: translateY(-50%);
  padding: 2vw;
}


q {
  font-size: 5vw;
  font-weight: 600;
  z-index: 9;
  height: 30vw;
}

.author , .caption {text-transform: uppercase; display: inline-block; font-weight: 700;}
.author::before {content: "— ";}

.payoff {
  font-size: 3vw;
  line-height: 1.2em;
  font-weight: 300;
}

q, .author {background-color: var(--dark-grey, 0.8);}
main {padding: 1em;}


footer {
    background-color: var(--main-color);
}


div.twocol>div {
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

div.twocol {
    display: flex;
    gap: 20px;
}

div[class*=highlight-] {
    margin: 1em 0;
}


.highlight {
    position: relative;
}

div.highlight code {
    margin: 0;
}
 
code {
    line-height: 125%;
    padding: 10px;
    border: 1px solid #c9c9c9;
    border-radius: 0.2rem;
    box-shadow: 1px 1px 1px #d8d8d8;
    display: block;
    font-size: 87.5%;
    overflow: auto;
}

a:hover {
    color: var(--dark-main);
}

p {
    padding: 0.5em 0px;
}

h2, h3 {
    padding-top: 5em;
}

p svg {display: inline; margin-right: 1em; color: var(--main-color);}

.figcaption {font-size: 0.8em; color: var(--light-grey); text-align: center;}
/* rewrite */
.bg-green-500 {
  background-color: var(--main-color) !important;
}
.text-green-500 {
  color: var(--main-color) !important;
}
